dist/*
build/*
classtest.py
errlog.txt
testlog.txt
test.txt
test.py
request.spec
main.spec
website/__pycache__
logmanager/__pycache__
__pycache__/tkinter.cpython-39.pyc
tkinter_example.py
isbnlist.txt
isbnlist copy.txt
